@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro";
  src: url("/public/fonts/SF-Pro.ttf") format("truetype");
}
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.App {
  display: flex;
  width: 100vw;
  flex-direction: column;
  position: relative;
}
.App iframe {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100%;
  border: none;
  background-color: #171923;
}
.App header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: calc(100vw - 30px);
  color: rgb(233, 237, 244);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 30px;
  margin: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transition: background-color 0.2s ease; /* 添加过渡属性和持续时间 */
}
@media (max-width: 414px) {
  .App header {
    display: none;
  }
}
.App header:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.App header span {
  flex: 0 0 auto;
  font-weight: 600;
}
.App header ul {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  gap: 30px;
}
.App header ul li {
  font-weight: 600;
  cursor: pointer;
}
.App header ul li:hover {
  text-decoration: underline;
}
.App header ul li i {
  margin-left: 5px;
}
.App header ul li a {
  color: rgb(233, 237, 244);
}
.App .about {
  width: 100vw;
  height: calc(100vh - 70px);
  color: rgb(233, 237, 244);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(10%);
}
@media (max-width: 912px) {
  .App .about {
    height: calc(100vh - 5rem);
    flex-direction: column;
    padding: 5rem 0;
  }
}
@media (max-width: 414px) {
  .App .about {
    padding: 5rem 2rem;
  }
}
.App .about p {
  font-size: 32px;
  margin-right: 50px;
}
@media (max-width: 912px) {
  .App .about p {
    text-align: center;
    font-size: 42px;
    margin-right: 0px;
  }
}
@media (max-width: 414px) {
  .App .about p {
    font-size: 24px;
  }
  .App .about p br {
    display: none;
  }
}
.App .about img {
  width: 200px;
  height: 200px;
}
@media (max-width: 912px) {
  .App .about img {
    margin-top: 5rem;
  }
}
.App .about .fade-in {
  animation: fadeInAnimation 1s ease-in-out forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.App .exprience {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(23, 25, 35, 0.5);
  width: 90vw;
  border-radius: 23px;
  opacity: 1;
  color: white;
  padding: 70px 0px 70px 140px;
}
@media (max-width: 1024px) {
  .App .exprience {
    padding-left: 5rem;
  }
}
@media (max-width: 414px) {
  .App .exprience {
    width: 100vw;
    padding: 70px 2rem;
    align-items: center;
  }
}
.App .exprience .expriencetitle {
  font-size: 32px;
  opacity: 1;
}
@media (max-width: 912px) {
  .App .exprience .expriencetitle {
    font-size: 42px;
  }
}
.App .exprience .expriencediv {
  opacity: 1;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.App .exprience .expriencediv .logo {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  margin-right: 30px;
}
.App .exprience .expriencediv .logo img {
  width: 100%;
  height: 100%;
}
.App .exprience .expriencediv .content {
  display: flex;
  flex-direction: column;
}
.App .exprience .expriencediv .content span {
  letter-spacing: 0.5px;
  margin-bottom: 7px;
}
.App .exprience .expriencediv .content .title {
  font-size: 21px;
  font-weight: 600;
}
.App .exprience .expriencediv .content .title .date {
  font-size: 12px;
  font-weight: 400;
  color: rgba(233, 237, 244, 0.75);
}
.App .exprience .expriencediv .content .category {
  font-size: 14px;
  margin-bottom: 8px;
}
.App .exprience .expriencediv .content .prize {
  font-size: 14px;
}
.App .projects {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px 0px 70px 140px;
  border-radius: 15px;
  background-color: rgba(23, 25, 35, 0.5);
}
@media (max-width: 1024px) {
  .App .projects {
    padding-left: 5rem;
  }
}
@media (max-width: 912px) {
  .App .projects {
    align-items: center;
    gap: 3rem;
    padding: 0px 0px 70px 0px;
  }
  .App .projects .project {
    flex-direction: column;
    gap: 3rem;
  }
}
.App .projects span {
  font-size: 32px;
  margin-bottom: 20px;
}
@media (max-width: 912px) {
  .App .projects span {
    font-size: 42px;
    margin-bottom: 0;
  }
}
.App .projects .project {
  display: flex;
  align-items: center;
  width: calc(100% - 70px);
}
.App .projects .project .projectdiv {
  width: 30vw;
  min-width: 384px;
  height: 400px;
  min-height: 400px;
  border-radius: 15px;
  margin-right: 50px;
  background-color: #1a202c;
  transition: transform 0.1s ease;
  color: rgb(233, 237, 244);
}
@media (max-width: 912px) {
  .App .projects .project .projectdiv {
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    height: 400px;
  }
}
@media (max-width: 414px) {
  .App .projects .project .projectdiv {
    scale: 0.9;
  }
}
.App .projects .project .projectdiv:hover {
  transform: translateY(-5px) scale(1.025); /* 向上平移 5px */
}
.App .projects .project .projectdiv .image {
  width: 100%;
  height: 45%;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}
.App .projects .project .projectdiv .image video {
  width: 100%;
}
.App .projects .project .projectdiv .image img {
  width: 100%;
}
.App .projects .project .projectdiv .content {
  padding: 25px;
}
.App .projects .project .projectdiv .content span {
  font-size: 14px;
}
.App .projects .project .projectdiv .content .title {
  font-size: 18px;
  font-weight: 600;
}
.App .projects .project .projectdiv .content .languagediv {
  gap: 10px;
  display: flex;
  margin: 15px 0px;
}
.App .projects .project .projectdiv .content .languagediv span {
  padding: 4px 7.5px;
  margin-bottom: 0px;
  border-radius: 5px;
  font-size: 14px;
  background: rgba(49, 151, 149, 0.45);
}
.App .contect {
  width: 100vw;
  color: white;
  padding: 0px 140px 35px 140px;
  background-color: rgba(23, 25, 35, 0.5);
}
@media (max-width: 912px) {
  .App .contect {
    gap: 1rem;
  }
  .App .contect .contectword {
    font-size: 42px;
  }
  .App .contect .main {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .App .contect .main .link {
    margin: 2rem 0;
  }
}
@media (max-width: 414px) {
  .App .contect {
    align-items: center;
    padding: 2rem;
  }
}
.App .contect .contectword {
  font-size: 32px;
  margin-bottom: 20px;
}
@media (max-width: 414px) {
  .App .contect .contectword {
    padding-bottom: 3rem;
  }
}
.App .contect .main {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  margin-bottom: 35px;
}
@media (max-width: 912px) {
  .App .contect .main {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
@media (max-width: 414px) {
  .App .contect .main {
    flex-direction: column;
    align-items: center;
  }
}
.App .contect .main .link {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 912px) {
  .App .contect .main .link {
    gap: 1rem;
  }
}
@media (max-width: 414px) {
  .App .contect .main .link {
    flex-direction: column;
    margin: 2rem 0;
  }
}
.App .contect .main .link a {
  display: flex;
  align-items: center;
  padding: 10px 17px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(233, 237, 244);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transition: background-color 0.2s ease;
  flex-wrap: nowrap;
  cursor: pointer;
}
@media screen and (max-width: 912px) {
  .App .contect .main .link a {
    margin-right: 0;
  }
}
@media (max-width: 414px) {
  .App .contect .main .link a {
    width: 80%;
  }
}
.App .contect .main .link a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.App .contect .main .link a i {
  margin-right: 7.5px;
}
.App .contect .main .link a span {
  font-size: 21px;
}
.App .contect .main img {
  width: 210px;
}/*# sourceMappingURL=style.css.map */